<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="io.zentechhotelbooker"
    android:installLocation="auto">

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/app_icon_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        tools:ignore="GoogleAppIndexingWarning">

        <!-- Admin side Activities -->
        <activity
            android:name=".activities.AdminLoginActivity"
            android:configChanges="screenLayout|screenSize|keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".activities.AdminDashBoardActivity"
            android:configChanges="screenLayout|screenSize|keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.AdminComponents" />
        <activity
            android:name=".activities.AddRoomsActivity"
            android:configChanges="screenLayout|screenSize|keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.AdminComponents">
        </activity>
        <activity
            android:name=".activities.ManageRoomsActivity"
            android:configChanges="screenLayout|screenSize|keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.AdminComponentsNoActionBar">
        </activity>
        <activity
            android:name=".activities.ViewRoomDetailsAdminActivity"
            android:configChanges="screenLayout|screenSize|keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.AdminComponents">
        </activity>
        <activity
            android:name=".activities.ManageUsersActivity"
            android:configChanges="screenLayout|screenSize|keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.AdminComponentsNoActionBar" />
        <activity
            android:name=".activities.CheckPaymentActivity"
            android:configChanges="screenLayout|screenSize|keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.AdminComponentsNoActionBar" />
        <activity
            android:name=".activities.AboutUsAdminActivity"
            android:configChanges="screenLayout|screenSize|keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.AdminComponents" />
        <activity
            android:name=".activities.ContactUsAdminActivity"
            android:configChanges="screenLayout|screenSize|keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.AdminComponents" />

        <!-- others -->
        <activity
            android:name=".activities.SliderViewActivity"
            android:configChanges="screenLayout|screenSize|keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.SplashScreenActivity"
            android:configChanges="screenLayout|screenSize|keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- User side Activities -->
        <activity
            android:name=".activities.UpdateUserProfileActivity"
            android:configChanges="screenLayout|screenSize|keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.ActionBar" />
        <activity
            android:name=".activities.UserLoginActivity"
            android:configChanges="screenLayout|screenSize|keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">

            <!-- Deep linking intent-filter to identify app online when users search -->
            <!--
                <intent-filter android:label="@string/filter_title_con_care_gh">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            -->
            <!-- Accepts URIs that begin with "http://www.example.com/gizmos” -->
            <!--
                <data android:scheme="http"
                android:host="www.example.com"
                android:pathPrefix="/google" />
            -->
            <!-- note that the leading "/" is required for pathPrefix -->
            <!-- Accepts URIs that begin with "example://gizmos” -->
            <!--
        <data android:scheme="example"
                android:host="google" />
        </intent-filter>
            -->

        </activity>
        <activity
            android:name=".activities.UserSignUpActivity"
            android:configChanges="screenLayout|screenSize|keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.HomeActivity"
            android:configChanges="screenLayout|screenSize|keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBarHome" />
        <activity
            android:name=".activities.MakePaymentActivity"
            android:configChanges="screenLayout|screenSize|keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.ActionBar"></activity>
        <activity
            android:name=".activities.ResetUserPasswordActivity"
            android:configChanges="screenLayout|screenSize|keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.AboutUsUserActivity"
            android:configChanges="screenLayout|screenSize|keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.ActionBar" />
        <activity
            android:name=".activities.ContactUsUserActivity"
            android:configChanges="screenLayout|screenSize|keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.ActionBar" />
        <activity
            android:name=".activities.CheckUserPaymentActivity"
            android:configChanges="screenLayout|screenSize|keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.ActionBar" />
        <activity
            android:name=".activities.DisplayMoreImagesActivity"
            android:configChanges="screenLayout|screenSize|keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.ActionBar" />

        <!-- Searchable Activity -->
        <activity
            android:name=".activities.SearchActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".activities.AddRoomImagesActivity"
            android:configChanges="screenLayout|screenSize|keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.AdminComponents" />
        <activity
            android:name=".activities.ViewRoomDetailsUserActivity"
            android:configChanges="screenLayout|screenSize|keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.ActionBar" />
        <activity
            android:name=".fragments.AboutHotelFragment"
            android:configChanges="screenLayout|screenSize|keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.ActionBar" />
        <activity
            android:name=".fragments.ImportantInformationFragment"
            android:configChanges="screenLayout|screenSize|keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.ActionBar" />
        <!-- Activity to display AboutHotelFragment and ImportantInformationFragment -->
        <activity
            android:name=".fragments.MoreDetailsFragment"
            android:configChanges="screenLayout|screenSize|keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.ActionBar" />
        <activity android:name=".activities.AdminSignUpActivity"></activity>
    </application>

</manifest>