<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.zentechhotelbooker"
    android:installLocation="auto">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_icon_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">

        <!-- Admin side Activities -->
        <activity
            android:name=".activities.AdminLoginActivity"
            android:configChanges="screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".activities.AdminDashBoardActivity"
            android:configChanges="screenLayout|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.AdminComponents">
        </activity>
        <activity
            android:name=".activities.AddRoomsActivity"
            android:configChanges="screenSize|screenLayout"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.AdminComponents">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.DeleteRoomsActivity"
            android:configChanges="screenSize|screenLayout"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.AdminComponents"></activity>
        <activity
            android:name=".activities.ResetAdminPasswordActivity"
            android:configChanges="screenSize|screenLayout"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".activities.CheckPaymentActivity"
            android:configChanges="screenSize|screenLayout"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.AdminComponents"></activity>
        <activity
            android:name=".activities.AboutUsAdminActivity"
            android:configChanges="screenSize|screenLayout"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.AdminComponents"></activity>
        <activity
            android:name=".activities.ContactUsAdminActivity"
            android:configChanges="screenSize|screenLayout"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.AdminComponents"></activity>

        <!-- others -->
        <activity
            android:name=".activities.SliderViewActivity"
            android:configChanges="screenSize|screenLayout"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".activities.SplashScreenActivity"
            android:configChanges="screenSize|screenLayout"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <!-- User side Activities -->
        <activity
            android:name=".activities.UpdateUserProfileActivity"
            android:configChanges="screenSize|screenLayout|smallestScreenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.ActionBar">
        </activity>
        <activity
            android:name=".activities.UserLoginActivity"
            android:configChanges="screenSize|screenLayout|smallestScreenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".activities.UserSignUpActivity"
            android:configChanges="screenSize|screenLayout|smallestScreenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".activities.HomeActivity"
            android:configChanges="screenSize|screenLayout|smallestScreenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.ActionBar">
        </activity>
        <activity
            android:name=".activities.MakePaymentActivity"
            android:configChanges="screenSize|screenLayout|smallestScreenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.ActionBar"></activity>
        <activity
            android:name=".activities.ResetUserPasswordActivity"
            android:configChanges="screenSize|screenLayout|smallestScreenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".activities.AboutUsUserActivity"
            android:configChanges="screenSize|screenLayout|smallestScreenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.ActionBar">
        </activity>
        <activity
            android:name=".activities.ContactUsUserActivity"
            android:configChanges="screenSize|screenLayout|smallestScreenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.ActionBar">
        </activity>
        <activity android:name=".activities.CheckUserPaymentActivity"
            android:configChanges="screenSize|screenLayout|smallestScreenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.ActionBar">
        </activity>
    </application>

</manifest>